@using Practice.MVCAPP.Models;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Order>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")



<h2>Index</h2>
<div id="dvid"></div>
<input type="button" name="btnAdd" id="btnAdd" value="Add" />
<div id="Content">
   
    @{
        Html.RenderAction("PaggingWithAjax", new { page = 1 });
        
    }
    
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#btnAdd").click(function () {
            
            $("#dvid").load('@Url.Action("Create", "MVCPagging")', function () {
               
                $(this).dialog({
                    modal: true,
                    resizable: false,
                    title: "asss",
                    height: 500,
                    width: 500,
                    buttons: {
                        "Save": function () {
                            // Manually submit the form                        
                            var form = $('form', this);
                            $(form).submit();
                        },
                        "Cancel": function () {
                            $(this).dialog('close');

                        }
                    },
                    close: function () {

                        // It turns out that closing a jQuery UI dialog
                        // does not actually remove the element from the
                        // page but just hides it. For the server side 
                        // validation tooltips to show up you need to
                        // remove the original form the page
                       // $('#' + dialogId).remove();
                    }
                });

            });
        });

    });

</script>
